*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-size: 16px;
  font-weight: 488;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

.header{
  height: 95vh;
  background-image:linear-gradient(to right bottom,rgba(126, 213, 111, 0.8),rgba(40, 180, 131, 0.8)), url('img/web.jpg');
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 500px,0 100%);
}
.heading-primary{
  color: white;
  text-transform: uppercase;
}

.heading-primary-main {
  color: white;
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 30px;
  animation-name: moveInLeft;
  animation-duration: 3s;
  animation-timing-function: ease-out;

}

.heading-primary-sub{
  color: white;
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 15px;
  animation-name: moveInRight;
  animation-duration: 3s;
  animation-timing-function: ease-out;
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80%{
    transform: translateX(20px);

  }
  100%{
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80%{
    transform: translateX(-10px);

  }
  100%{
    opacity: 1;
    transform: translate(0);
  }
}

.btn:link,
.btn:visited  {
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  margin-top: 50px;


}

.btn-white {
  background-color: white;
  color: #777;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0,.2);
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.feature-box {
  margin-top: 50px;
  font-size: 40px;
  margin: 80px;
  color: #55c57a;
}

.the-main-paragraph {
  margin-left: 80px;
  display: flex;
  width: 100%;
  height: 85vh;
}

.text{
  width: 40%;
  height: 100%;
}

.images {
  width: 60%;
  height: 100%;
}

#wrapper {
  margin-left: 5%;
}

.image {
  position: absolute;
  width: 400px;
  height: 400px;
}

.img1 {
  -webkit-animation: appear 1s;
  animation: appear 1s;
  background-image: url('img/quote1.png');
}

.img2 {
  -webkit-animation: appear 2s;
  animation: appear 2s;
  background-image: url('img/work.jpg');
}

.img3 {
  -webkit-animation: appear 3s;
  animation: appear 3s;
  background-image: url('img/beknur.jpg');
}

.img4 {
  -webkit-animation: appear 4s;
  animation: appear 4s;
  background-image: url('img/certificate1.jpg');
}

/* Chrome, Safari, Opera */
@-webkit-keyframes appear {
  0% {
    opacity: 0;
    margin-left: -25%;
  }
  100% {
    opacity: 1;
  }
}

/* IE */
@keyframes appear {
  0% {
    opacity: 0;
    margin-left: -25%;
  }
  100% {
    opacity: 1;
  }
}

.img1 {
  z-index: 1;
}
.img2 {
  z-index: 2;
  margin-left: 70px;
  margin-top: 70px;
}

.img3 {
  z-index: 3;
  margin-left: 140px;
  margin-top: 140px;
}

.img4 {
  z-index: 4;
  margin-left: 210px;
  margin-top: 210px;
}


.img1:hover {
  z-index: 10;
}
.img2:hover {
  z-index: 9;
}
.img3:hover {
  z-index: 8;
}
.img4:hover {
  z-index: 7;
}
.img5:hover {
  z-index: 6;
}

.img1,
.img2,
.img3,
.img4,
.img5 {
  transition: all 2s;
}

.img1:hover,
.img2:hover,
.img3:hover,
.img4:hover,
.img5:hover {
  -webkit-tranform: rotate(360deg);
  transform: rotate(360deg);
}
h3 {
 color: darkgrey;
 font-weight: 700;
}
.my-tale {
  color: grey;
  font-size: 1.2em;
  letter-spacing: 2px;
}

.video-box{
  display: flex;
  width: 100%;
  height: 100vh;
  background:linear-gradient(to right bottom,rgba(0, 237, 255, 54),rgba(40, 180, 131, 0.8)), url('img/source.gif');
  clip-path: polygon(0 100px, 100% 0, 100% 100%,0 100%);
  margin-top: 100px;
}
.footer {
  width: 80%;
  height: 80%;
  padding-top:250px;
  padding-left: 300px;
}
.list-first{
  list-style: none;
}
li{
  padding: 10px;
  font-size: 1.4em;
  font-family: monospace;
}
.map {
  margin-top: 200px;
  margin-right: 100px;
}
